apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: docker-k8s-lab
  template:
    metadata:
      labels:
        app: docker-k8s-lab
    spec:
      containers:
      - name: web
        image: <yourdockerhubusername>/docker-k8s-lab:latest
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
